*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background-color: #333;
    display: flex;
    justify-content: center;
}

.continar{
    background-color: #222;
    width: 80vw ;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img img , canvas{
    max-height:60vh ;
    max-width: 45vw;
}

.upload input{
    display: none;
}

.upload label{
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
}

.filters ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    direction: rtl;
}
.filters ul li {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filters ul li label{
    color: #fff;
    
}
.filters ul li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filters ul li a,span{
    color: #fff;
    padding: 10px 20px;
    background-color: #030;
    cursor: pointer;
}
a{
    text-decoration: none;
}
@media  screen and (max-width:780px) {
    .continar{
        grid-template-columns: 1fr;
        gap: 50px;

    }
    .img img{
        max-width: 80vw;
    }
}